button {
 border:1px solid black;
 border-radius:5px;
 box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .1);
}

button:hover {
 cursor:pointer;
}

button:active {
 transform: translate(1px, 1px);
}

button:focus {
 outline:0;
}

button.yes {
 background-color:white;
}

button.no {
 background-color:black;
 color:white;
}